<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue</title>
	<script src="../bower_components/vue/dist/vue.min.js"></script>
</head>

	<style type="text/css">
		ul{list-style-type: none;}
		ul li{
			padding-bottom: 10px;
		}

	</style>
<body>
	
	<div id="app">
			<label>
				<input type="text" v-model="newtodo"></input>
				<button v-on:click="addli()">add</button>
			</label>

			<ul>
				<li v-for="todo in todos">
					{{todo.text}}
					<button v-on:click="removeli($index)">X</button>
				</li>
			</ul>
	</div>

	<script type="text/javascript">
		new Vue({
			el:'#app',
			data:{
				newtodo:'',
				todos:[
					{text:'this is todo A'},
					{text:'this is todo B'},
					{text:'this is todo C'}
				]
			},

			methods:{
				addli:function(){
					var text = this.newtodo;
					if(text){
						this.todos.push({text:text})
						this.newtodo = ''
					}
					
				},

				removeli:function(index){
					this.todos.splice(index,1);
				}
			}


		})
	</script>

</body>
</html>